/*登录注册框*/

#loginDialog-model{
  z-index:100;
}
.login-container{
  width:440px;
  padding:0;
  border:none;
  background: #fff;
  box-shadow:0 0 0 10px rgba(0,0,0,0.2);
}
.login-container .login-head{
  height:50px;
  padding:0 15px;
  background:#f7f7f7;
  line-height: 50px;
}
.login-container .login-title{
  font-size: 16px;
  color:#00192f;
}
.login-container .login-content{
  padding:20px 36px 70px;
}
.login-container .login-content .title{
  margin-bottom: 26px;
  border-bottom: 1px solid #e8ecf0;
}
.login-container .login-content .title-item{
  width:50%;
  height:inherit;
  line-height: inherit;
  border:none;
  color:#61676e;
  font-size: 16px;
  padding-bottom: 14px;
  background: #fff;
}
.login-container .login-content .title-item.active{
  color:#255da8;
  position: relative;
  top:1px;
  border-bottom:2px solid #255da8;
}
.login-container .login-content .form_pane .form-control{
  height:44px;
  color:#9fa4ab;
  margin-bottom: 20px;
  font-size: 14px;
}
.login-container .login-content .form_pane .form-control:focus{
  border:1px solid #255da8;
}
.login-container .login-content .form_pane .btn-lg{
  margin-top:10px;
  padding:0;
  height:44px;
  line-height: 44px;
  background: #255da8;
}
.login-container .login-content .link_gray{
  color:#9fa4ab;
}
.login-container .login-content .alert{
  top:54% !important;
}
.login-container #valideCode-img{
  width:calc(45% - 18px);
  height:44px;
}
.login-shadow{
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
}
#btnVerifyCode{
  width:40%;
  float:right;
  height:44px;
  padding-top:8px;
  font-size: 14px;
  background: #fff;
  color:#255da8;
  border:1px solid #255da8;
}
#btnVerifyCode:active{
  box-shadow: none;
}